<div class="content">

  <h1>{{person.first_name}} {{person.last_name}}</h1>

  <img class="profile-image" src="/images/sangaste/fotod/{{person.id_name}}.jpg" onerror="this.style.display='none'" />

  <div class="p_small"><b>Eesnimi:</b> {{person.first_name}}</div>
  <div class="p_small"><b>Perekonnanimi:</b> {{person.last_name}}</div>
  <div class="p_small"><b>Eluaastad:</b>
    {{person.birth_date}}
    -
    {{person.death_date}}</div>
  <div class="p_small"><b>Metsavennaelu algus:</b>
    {{person.separation_date}}</div>
  <div class="p_small"><b>Metsamineku põhjus:</b>
    {{person.separation_cause}}</div>
  <div class="p_small"><b>Lõpp:</b> {{person.separation_end_date}}</div>
  <div class="p_small"><b>Lõpu põhjus:</b> {{person.separation_end_cause}}</div>
  <div class="p_small"><b>Vanus metsaelu lõpus:</b>
    {{person.age_at_separation_end}}</div>
  <div class="p"></div>
  <div class="p">{{person.note}}</div>

</div>