<h1>{{person.first_name}} {{person.last_name}}</h1>
<img
  class="float-right w-[25%]"
  src="/images/{{region}}/{{person.id_name}}.jpg"
  onerror="this.style.display = 'none'"
/>
<ul style="line-height: 1.7; list-style: none; padding: 0">
  <li>
    <b>Eesnimi:</b>
    {{person.first_name}}
  </li>
  <li>
    <b>Perekonnanimi:</b>
    {{person.last_name}}
  </li>
  <li>
    <b>Eluaastad:</b>
    {{person.birth_date}} - {{person.death_date}}
  </li>
  <li>
    <b>Metsavennaelu algus:</b>
    {{person.separation_date}}
  </li>
  <li>
    <b>Metsamineku põhjus:</b>
    {{person.separation_cause}}
  </li>
  <li>
    <b>Lõpp:</b>
    {{person.separation_end_date}}
  </li>
  <li>
    <b>Lõpu põhjus:</b>
    {{person.separation_end_cause}}
  </li>
  <li>
    <b>Vanus metsaelu lõpus:</b>
    {{person.age_at_separation_end}}
  </li>
</ul>
<p class="mt-10">{{person.note}}</p>
